body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #09121e, #14233c, #25536d);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}


.potrait {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    box-shadow: 2px 2px 4px rgb(0, 0, 0);
    width: 25rem;
    height: 40rem;
    border-radius: 8px;
    background: rgba(10, 23, 46, 0);
}


.watch {
    justify-content: center;
    text-align: center;
}

.potrait h1 {
    position: absolute;
    top: 128px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
}

.circle {
    border-radius: 50%;
    border: 10px solid #ffffffb6;
    height: 200px;
    width: 200px;
    justify-content: center;
    margin-left: 20px;
  
}

.circle1 {
    border-radius: 50%;
    border: 10px solid #ffffffa6;
    height: 181px;
    width: 181px;
    z-index: 1;
}

.circle2 {
    border-radius: 50%;
    border: 10px solid #ffffff7c;
    height: 162px;
    width: 162px;
    z-index: 2;
}

.circle3 {
    border-radius: 50%;
    border: 10px solid #ffffff3a;
    height: 143px;
    width: 143px;
    z-index: 2;
}

.circle4 {
    border-radius: 50%;
    border: 10px solid #ffffff22;
    height: 124px;
    width: 124px;
    z-index: 2;
}

.circle5 {
    border-radius: 50%;
    border: 10px solid #ffffff10;
    height: 105px;
    width: 105px;
    z-index: 2;
}

.circle6 {
    border-radius: 50%;
    border: 10px solid #ffffff;
    height: 0px;
    width: 0px;
    margin: 42px;

}

/* .line {
    border: 2px solid #ffffff;
    width: 100px;
    rotate: 360deg;

} */

/* .hand{
    width: 93px;
    height: 3px;
    background: white;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform-origin: left center;
    transform: rotate(0deg);
} */


.hand {
    width: 92px;
    height: 3px;
    background: white;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform-origin: 0% 50%;
    transform: rotate(0deg);
    transition: transform 0.05s linear;
}


h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    letter-spacing: 5px;
    text-align: center;
}


.start {
    padding: 8px 25px;
    border-radius: 20px;
    background-color: yellow;
    color: #14233c;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 1px 2px 4px whitesmoke (0, 0, 0, 0.434);

}

.start:hover {
    background-color: #ffffff;
    color: #caac29;
    transition: 0.5s ease-in-out;
}

.stop {
    padding: 8px 25px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #f92617;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 1px 2px 4px whitesmoke (0, 0, 0, 0.434);


}

.stop:hover {
    background-color: #f85858;
    color: #fafafa;
    transition: 0.5s ease-in-out;
}

.reset {
    padding: 8px 25px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #0b0000;
    border: none;
    outline: none;
    font-size: 16px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);


}

.reset:hover {
    background-color: #242323;
    color: #fafafa;
    transition: 0.5s ease-in-out;
}